.nuevoCliente{
    padding-left: 300px;
    padding-top: 100px;
}

.detallesCuenta{
    padding-right: 350px;
    padding-top: 100px;
}

.inputBox{
    margin-top: -.5em;
    margin-left: 1em;
}

.button{
    margin-top: 1em;
}